<!-- Out Patient Trend Section-->
<!-- Out Patient Coverate Statistics Section ( top 7 components and bottom 4 components) -->
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.title{
			font-size: 16px;
			text-align: center;
		}

		h2{
			font-size: 12px;
			text-align: center;
		}

		img{
			width: 100%;
		}
	</style>
</head>
<body>
	<h1 class="title">Average coverage trend (total lives)</h1>
	<div class="row">
		<img src="{{trend_chart}}" />		
	</div>
	<div class="clearfix"></div>
	<div class="row">
		
	</div>
</body>
</html>